
<body bgcolor="#add8e6">
<% @photo.each do |photo| %>
  <div>
    <%= image_tag photo.file_name %><br>
    Photo Posted on
    <%= photo.date_time %>
    <% @comments = photo.comments %>
    <h2>Comments:</h2>
    <% @comments.each do |comment| %>
      <div>
        <li>
          <%= comment.comment %><br><br>

          Posted By:
          <% @user = User.find(comment.user_id) %>
          <%= link_to @user.first_name, {action: "index", :id => @user.id} %><%= @user.last_name %>
          on
          <%=comment.date_time %>
        </li>
      </div>
      </div>
    <% end %>
    </body>
<% end %>
